<center><img src="images/Logo_I2A2.webp", width=250></center>

# Desafio 4

### Estamos em 2012!  

Você deve construir um **modelo preditivo de previsão da demanda de passageiros** de uma linha de Metrô, visto que, desde 2005, a demanda vem crescendo constantemente e a alta direção da empresa necessita de subsidios para a tomada de decisão do momento de investimento de forma a aumentar a capacidade operacional da linha que hoje é de cerca de 72 mil passageiros/hora sentido.

<center><img src="images/DemandaMetro.png", width=900></center>

O modelo deve possuir como variáveis preditoras indicadores econômicos que possuam projeções que possam ser encontradas facilmente na mídia especializada.     
O arquivo [DemandaMetro.xlsx](https://github.com/vsvasconcelos/i2a2/blob/main/DemandaMetro.xlsx) possui as totalizações mensais de entrada de passageiros, bem como as respectivas médias em dias úteis (DU).

In [8]:
import pandas as pd
dados = pd.read_excel('DemandaMetro.xlsx')

In [10]:
dados.head(20)

   DEMANDA HISTÓRICA DO METRO Unnamed: 1     Unnamed: 2
0                    Linha xx        NaN            NaN
1                     Mês/Ano   Entradas            NaN
2                         NaN      TOTAL       MÉDIA DU
3         1989-01-01 00:00:00   17582640         685614
4         1989-02-01 00:00:00   16054636         724491
5         1989-03-01 00:00:00   19435854         770336
6         1989-04-01 00:00:00   19288983         786977
7         1989-05-01 00:00:00   20399772         800986
8         1989-06-01 00:00:00   20543714         785930
9         1989-07-01 00:00:00   19491708         747304
10        1989-08-01 00:00:00   21369032         788212
11        1989-09-01 00:00:00   19771308         799492
12        1989-10-01 00:00:00   20823461         806657
13        1989-11-01 00:00:00   19918533         809471
14        1989-12-01 00:00:00   20586638         799565
15                       1989  235266279  775419.583333
16        1990-01-01 00:00:00   19377253         755748
17        1990-02-01 00:00:00   17246090         770900
18        1990-03-01 00:00:00   20356364         766543
19        1990-04-01 00:00:00   18358689         765524

Após a proposição do modelo, realize a previsão de demanda de passageiros até **2022**.